.icon {
	padding: 0.5rem;
	position: relative;
	border: solid 2px var(--clr-acc-1);
	transition: var(--default-transition);
	&:hover {
		scale: 1.1;
		cursor: pointer;
	}
	span,
	img {
		transition: var(--default-transition);
	}
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: var(--fs-40);
		font-family: var(--ff-heading);
		color: var(--clr-acc-2);
		text-shadow: 0 0 5px var(--clr-black);
		z-index: 2;
		&::after {
			content: "";
			position: absolute;
			opacity: 0.8;
			box-shadow: 0 0 50px 20px var(--clr-acc-1);
			z-index: -1;
		}
	}
}

.active {
	span {
		opacity: 0;
	}
	img {
		filter: none;
	}
}

.inactive {
	img {
		filter: var(--default-filter);
	}
}

@media (max-width: 1024px) {
	.icon {
		img {
			width: 48px;
			height: 48px;
		}
		span {
			font-size: var(--fs-32);
		}
	}
}
