@mixin font-face($name, $file, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: url("~src/assets/fonts/#{$file}.ttf") format("truetype");
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin absolute-fill($z-index: 0) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index;
}
