@mixin font-face($name, $file, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: url("~src/assets/fonts/#{$file}.ttf") format("truetype");
		font-weight: $weight;
		font-style: $style;
	}
}