:root{
    --ff-heading: "Cinzel", serif;
    --ff-body: "Plus Jakarta Sans", sans-serif;

    --speed: 200ms;

    --clr-acc-1: #A04747;
    --clr-black: #000000;
    --clr-black-opc: rgba(0, 0, 0, 0.8);
    --clr-white: #F7F7F7;
    --clr-white-opc: rgb(247, 247, 247, 0.8);
}