@use "../../assets/partials/mixins" as *;

.hero {
	height: 100vh;
	overflow: hidden;
	position: relative;
	&::after {
		content: "";
		@include absolute-fill(-1);
		background: var(--default-gradient);
	}
	h1 {
		font-size: clamp(3rem, 8vw, 9rem);
		text-align: center;
		text-shadow: var(--default-text-shadow);
		color: var(--clr-white);
		span {
			display: block;
		}
	}
}
