@use "../../assets/partials/mixins" as *;

.hero {
	height: 100vh;
	overflow: hidden;
	position: relative;
	&::after {
		content: "";
		@include absolute-fill(-1);
		background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
	}
	h1 {
		font-size: clamp(3rem, 8vw, 9rem);
		text-align: center;
		text-shadow: 2px 2px 10px var(--clr-black-opc);
		color: var(--clr-white);
		span {
			display: block;
		}
	}
}
