$delay-value: calc(var(--speed) * 2.5);
$zoom: 1.1;
$bw-base-value: 35%;
$bh-base-value: 45%;

.card {
	position: relative;
	overflow: hidden;
	height: 320px;
	padding: 0.5rem;
	transition: var(--default-transition);
	&::before,
	&::after {
		content: "";
		width: $bw-base-value;
		height: $bh-base-value;
		position: absolute;
		border: 2px solid var(--clr-acc-1);
		pointer-events: none;
		animation-play-state: paused;
	}
	&::before {
		top: 0;
		left: 0;
		mask-image: linear-gradient(
			to bottom right,
			rgba(160, 71, 71, 1),
			rgba(0, 128, 0, 0) 50%
		);
		animation: border-animation-top 2s infinite alternate ease-in-out;
		z-index: 2;
	}
	&::after {
		right: 0;
		bottom: 0;
		mask-image: linear-gradient(
			to top left,
			rgba(160, 71, 71, 1),
			rgba(0, 128, 0, 0) 50%
		);
		animation: border-animation-bot 2s infinite alternate ease-in-out;
	}
	span {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 1rem;
		color: var(--clr-white-opc);
		background: var(--default-gradient);
		font-family: var(--ff-heading);
		font-size: var(--fs-16);
		letter-spacing: 1.5px;
		text-align: center;
		text-transform: uppercase;
		text-shadow: var(--default-text-shadow);
		transition: var(--default-transition);
	}
	&:hover {
		scale: $zoom;
		&::before,
		&::after {
			animation-play-state: running;
			animation-delay: $delay-value;
		}
		.imgContainer img {
			scale: $zoom;
			filter: brightness(85%);
		}
		span {
			scale: $zoom;
			color: var(--clr-white);
		}
	}
	&:not(:hover) {
		&::before,
		&::after {
			animation-play-state: paused;
			animation-delay: $delay-value;
		}
	}
}

.imgContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	img {
		transition: var(--default-transition);
		filter: brightness(75%);
	}
}

@keyframes border-animation-top {
	0% {
		width: $bw-base-value;
		height: $bh-base-value;
	}
	50% {
		width: 25%;
		height: 65%;
	}
	100% {
		width: 65%;
		height: 25%;
	}
}

@keyframes border-animation-bot {
	0% {
		width: $bw-base-value;
		height: $bh-base-value;
	}
	50% {
		width: 65%;
		height: 25%;
	}
	100% {
		width: 25%;
		height: 65%;
	}
}
