@use "../../assets/partials/mixins" as *;

%transition-effect {
	transition: calc(var(--speed) * 5) ease-in-out;
}

.carousel {
	padding: 2rem 5rem;
	gap: 2rem;
	h1 {
		font-size: var(--fs-48);
	}
	.slides {
		width: 100%;
		position: relative;
		&::before,
		&::after {
			content: "";
			pointer-events: none;
			@include absolute-fill(2);
		}
		&::before {
			@include gradient-carousel(left);
		}
		&::after {
			@include gradient-carousel(right);
		}
		&.noEffects {
			&::before,
			&::after {
				display: none;
			}
		}
		.slide {
			position: relative;
			height: 500px;
			padding: 0.5rem;
			overflow: hidden;
			border: solid 2px var(--clr-acc-2);
			&::before,
			&::after {
				content: "";
				z-index: 1;
				position: absolute;
				pointer-events: none;
				@extend %transition-effect;
			}
			&::before {
				inset: 0.5rem;
				opacity: 0.25;
				background-color: var(--clr-acc-1);
			}
			&::after {
				inset: 0;
				@include gradient-carousel(top, 50%);
			}
			img {
				@extend %transition-effect;
				filter: grayscale(100%) brightness(0.8) blur(2.5px);
			}
			span {
				opacity: 0;
				padding: 1rem 1.5rem;
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 2;
				font-size: var(--fs-24);
				color: var(--clr-acc-2);
				letter-spacing: 1.5px;
				text-shadow: 0 0 5px var(--clr-black);
				@extend %transition-effect;
			}
		}
		.active {
			&::before {
				opacity: 0;
			}
			span {
				opacity: 1;
			}
			img {
				filter: none;
			}
		}
	}
	:global(.swiper-pagination) {
		bottom: 0;
		margin-top: 1.5rem;
		position: relative;
	}
	:global(.swiper-pagination-bullet) {
		height: 12px;
		width: 12px;
		opacity: 1;
		background-color: var(--clr-grey-opc);
		transition: calc(var(--speed) * 2.5) ease;
	}
	:global(.swiper-pagination-bullet-active) {
		width: 24px;
		border-radius: 1rem;
		background-color: var(--clr-acc-2);
	}
}

@media (min-width: 1025px) {
	.big {
		height: 700px !important;
	}
}

@media (max-width: 1024px) {
	.carousel {
		h1 {
			font-size: var(--fs-40);
		}
		.slides {
			&::before,
			&::after {
				display: none;
			}
			.slide {
				span {
					font-size: var(--fs-20);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.carousel {
		padding: 2rem 3.5rem;
	}
}

@media (max-width: 426px) {
	.carousel {
		padding: 2rem;
	}
}
