footer {
	margin-inline: 5rem;
	padding-block: 2.5rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	color: var(--clr-white);
	border-top: solid 0.5px var(--clr-acc-1);
	p {
		font-size: var(--fs-14);
		a {
			transition: color var(--speed) ease-in;
			&:hover {
				color: var(--clr-acc-2);
			}
		}
	}
	.social {
		gap: 0.75rem;
		svg {
			font-size: var(--fs-32);
			transition: scale var(--speed) ease-in-out;
			&:hover {
				scale: 0.9;
			}
		}
	}
}

@media (max-width: 768px) {
	footer {
		margin-inline: 3.5rem;
		padding-block: 1.5rem;
	}
}

@media (max-width: 426px) {
	footer {
		flex-direction: column;
		gap: 1rem;
		margin-inline: 2rem;
	}
}
