@use "assets/partials/variables" as *;
@use "assets/partials/mixins" as *;

// Fonts
@include font-face(
	"Plus Jakarta Sans",
	"PlusJakartaSans-VariableFont_wght",
	200 900,
	normal
);
@include font-face("Cinzel", "Cinzel-VariableFont_wght", 200 900, italic);

// Placeholders
%headers {
	text-transform: uppercase;
	font-family: var(--ff-heading);
}

// Reset & Configs
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: currentColor;
}

body {
	background-color: var(--clr-black);
	color: var(--clr-white);
}

h1 {
	@extend %headers;
	letter-spacing: 2.5px;
}

h2 {
	@extend %headers;
}

p {
	font-family: var(--ff-body);
}

// Scrollbar
*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--clr-white);
	border-radius: 4px;
	border: 4px solid transparent;
}
*::-webkit-scrollbar-corner {
	background: transparent;
}

// Utility Classes
.flex {
	display: flex;
}
.flex-column {
	@extend .flex;
	flex-direction: column;
}

.grid {
	display: grid;
}

.center {
	justify-content: center;
	align-items: center;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.bg-img {
	@extend .img;
	inset: 0;
	position: absolute;
}

.padding {
	padding-inline: 5rem;
}
@media (max-width: 768px) {
	.padding {
		padding-inline: 3.5rem;
	}
}
@media (max-width: 426px) {
	.padding {
		padding-inline: 2rem;
	}
}
